# Ignore Python bytecode and cache directories
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Ignore backend virtual environment
backend/venv/

# Ignore frontend node modules
frontend/node_modules/